---
//Imports
import { GITHUB, LINKEDIN, WEBSITE } from "../js/constants";
import { Image } from "@astrojs/image/components";
import { Icon } from "astro-icon";
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
---

<Layout
    title="Bienvenido a mi espacio"
    description="Espacio de escritura personal. Nada más que mi lugar para presentarme al mundo"
>
    <Nav />
    <section class="section__welcome">
        <div class="text__container">
            <div class="divider"></div>
            <h1>Bienvenidos a mi blog personal</h1>
        </div>
        <div class="carousel__container"></div>
        <div class="content__container">
            <p class="author-text">
                Hola! Bienvenid@ al espacio en el que comparto algunas de mis
                ideas, conflictos personales, dudas existenciales y cualquier
                otra cosa que no entre en esas 3 categorías. Esto es parte de lo
                que soy.
            </p>
            <div class="author-profile">
                <Image
                    class="author-image"
                    src="../images/kakashi.jpg"
                    alt="Ícono del autor - Kakashi niño"
                    height={48}
                    width={48}
                    aspectRatio="1:1"
                    format="webp"
                    quality={80}
                />
                <p class="author-name">@devindev</p>
            </div>
        </div>
    </section>
    <section class="section__about">
        <div class="about__container">
            <h2>Acerca mío</h2>
            <p>
                Hola! Mi nombre es Jorge Armando García Bellos. Soy un Ingeniero
                de software mexicano, desarrollador web por profesión y geek de
                nacimiento.
                <br />
                Esto no es más que un espacio para lanzar mis ideas al mundo, y en
                sí mismo, el resultado de otra idea: tener mi propio blog.
                <br />
                Al final, esto es por y para mí, si alguien más está leyendo esto,
                lamento no incluirte, pero te invito a quedarte, estás en tu casa.
            </p>
            <Image
                class="search-image"
                src="../images/saitama-about.png"
                alt="Ícono de búsqueda"
                height={187}
                width={250}
                aspectRatio="1:1"
                format="webp"
                quality={80}
            />
        </div>
        <div class="background__container"></div>
    </section>
    <section class="section__findme">
        <div class="findme__container">
            <h3 class="findme-title">FIND ME</h3>
            <ul class="findme-links">
                <a href={GITHUB}>
                    <li class="link-item">
                        <Icon pack="mdi" name="github" />
                    </li>
                </a>
                <a href={LINKEDIN}>
                    <li class="link-item">
                        <Icon pack="ri" name="linkedin-fill" />
                    </li>
                </a>
                <a href={WEBSITE}>
                    <li class="link-item">
                        <Icon pack="zondicons" name="network" />
                    </li>
                </a>
            </ul>
        </div>
    </section>
</Layout>
<Footer />

<style>
    /* Section Welcome */
    section.section__welcome {
        position: relative;

        padding: 50px 0 2rem 0;
        height: 100vh;
        box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.25);
    }
    div.text__container .divider {
        height: 4px;
        width: 48px;
        margin: 0 auto;

        background-color: var(--color-red);
    }
    div.text__container h1 {
        text-align: center;
    }
    /* Author info*/
    p.author-text {
        max-width: 50%;
        margin: 0 auto;

        text-align: justify;
    }
    div.content__container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 16px;
    }
    div.author-profile {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
    }
    div.author-profile .author-image {
        border-radius: 50%;
    }
    div.author-profile .author-name {
        font-weight: bold;
    }
    @media screen and (max-width: 1024px) {
        p.author-text {
            max-width: 80%;
        }
    }
    /* Section about */
    section.section__about {
        display: flex;
        justify-content: center;

        min-height: 750px;
    }
    div.about__container {
        padding: 3rem 0 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2rem;

        width: 40%;

        background: var(--color-white);
    }
    div.about__container p {
        width: 60%;
    }
    div.background__container {
        flex: 1;

        background-image: url("/images/about-background.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
    }
    @media screen and (max-width: 1024px) {
        div.about__container {
            width: 50%;
        }
    }
    @media screen and (max-width: 600px) {
        section.section__about {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            min-height: 900px;
            background-image: url("/images/about-background.jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }
        div.about__container {
            width: 90%;
            border-radius: 5px;
        }
        div.background__container {
            display: none;
        }
    }
    /* Section Find me */
    section.section__findme {
        display: flex;
        justify-content: center;
        align-items: center;

        margin-top: 1rem;
        min-height: 350px;
        background: var(--color-red);
    }
    div.findme__container h3 {
        color: var(--color-beige);
        text-align: center;
    }
    div.findme__container ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
    }
    ul.findme-links a li {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 40px;
        height: 40px;
        border-radius: 50%;

        background: var(--color-beige);
    }
    ul.findme-links a li svg{
        width:30px;
        color:var(--color-red);
    }
</style>
