---
//Imports
import { Image } from "@astrojs/image/components";
---

<footer>
    <div class="block__container">
        <div class="block-title">@devindev</div>
        <div class="block-divider"></div>
        <div class="block-content">
            Ingeniero de software mexicano.
            <br>
            Desarrollador web de profesión.
            <br>
            Geek de nacimiento.
        </div>
    </div>
    <div class="block__container">
        <div class="block-title">Menú</div>
        <div class="block-divider"></div>
        <div class="block-content">
            <ul>
                <li>
                    <a href="/blog">Blog</a>
                </li>
                <li>
                    <a href="/yo">Acerca mío</a>
                </li>
                <li>
                    <a href="/redes">Redes</a>
                </li>
            </ul>
        </div>
    </div>
    <Image
        class="footer-image"
        src="../images/saitama-footer.png"
        alt="Imagen de footer - Saitama face"
        height={120}
        width={120}
        aspectRatio="1:1"
        format="webp"
        quality={80}
    />
</footer>
<style>
    /*
    position
    display
    box model
    background
    typos
    pseudoclasses
    */
    footer {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;

        padding: 3rem 0;

        background-color: var(--color-black);
        color: var(--color-white);
    }

    div.block__container{
        padding:1rem;
        min-width:300px;
    }

    div.block-divider{
        height: 4px;
        width: 35px;
        margin: 1rem 0 2.5rem 0;

        background-color: var(--color-beige);
    }

    div.block-title {
        font-weight: 700;
    }

    div.block-content {
        font-weight: 400;
    }

    img.footer-image {
        transform: scaleX(-1);
        filter: drop-shadow(0px 1px 4px #ffffff);
    }
</style>
