---
//Imports
import { Image } from "@astrojs/image/components";
---

<nav class="container">
	<div class="text__container">
		<a class="text-home" href="/">Jorge García</a>
	</div>
	<div class="search__container">
		<Image
			class="search-image"
			src="../images/search-icon.png"
			alt="Ícono de búsqueda"
			height={18}
			width={18}
			aspectRatio="1:1"
			format="webp"
			quality={80}
		/>
	</div>
</nav>
<style>
	nav {
		position: fixed;
		top:0;
		right:0;
		left:0;

		display: flex;
		align-items: center;
		justify-content: space-between;

		height: 50px;
		
		background-color: white;
	}
	a.text-home {
		font-size: 1.5rem;
		color: var(--color-black);
	}
	a.text-home::after {
		color: var(--color-red);
		content: ".";
	}

	div.search__container{
		display: flex;
		align-items: center;
		justify-content: center;
	}
</style>
